.todos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 5px;
    margin: 5px 0px;
}

.todos-person.todos:hover {
    background-color: white;
    color: blueviolet;
}

.todos:hover {
    background-color: blueviolet;
    color: white;
    cursor: pointer;
}

.todos-person {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: blueviolet;
    color: white;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}