h3 {
    border: 0.7px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    font-weight: 500;
    background-color: rgb(128, 128, 128);
    color: #fff;
}

.title {
    font-weight: 600;
    margin-right: 5px;
    margin-left: 5px;
}