.pointer {
    cursor: pointer;
}

.pointer:hover {
    opacity: 0.8;
}

.user {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.title {
    font-weight: 500;
    margin-right: 5px;
}