<div class="container">
    <h2>Home</h2>
    <p>Sistema desenvolvido para avaliação de teste para a empresa <strong>Framework</strong>.</p>
    <hr>
    <p><strong>Tecnologias utilizadas:</strong></p>
    <ul>
        <li>Angular 8</li>
        <li>Angular Material</li>
        <li>Subsink</li>
    </ul>
    <p><strong>Deploy da aplicação:</strong></p>
    <ul>
        <li>Heroku</li>
    </ul>
    <p><strong>Gerenciador de pacotes:</strong></p>
    <ul>
        <li>NPM</li>
    </ul>
    <p><strong>Repositório:</strong></p>
    <ul>
        <li><a href="https://github.com/leonatercio/framework-angular-test" target="_blank">Github</a></li>
    </ul>
</div>