<p>
    <mat-toolbar color="primary">
        <button mat-icon-button [matMenuTriggerFor]="beforeMenu" class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
        <mat-menu #beforeMenu="matMenu" xPosition="before">
            <button mat-menu-item (click)="routerLink('/')">Home</button>
            <button mat-menu-item (click)="routerLink('albums')">Albums</button>
            <button mat-menu-item (click)="routerLink('posts')">Posts</button>
            <button mat-menu-item (click)="routerLink('todos')">ToDos</button>
        </mat-menu>
        <span>Framework - Angular Test</span>
        <span class="spacer"></span>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
    </mat-toolbar>
</p>